<div class="offers-container">
  <h2>Available offers</h2>

  <div class="grid">
    @for (offer of publicOffers; track offer.id) {
      <app-public-offer-card [offer]="offer"></app-public-offer-card>
    }
  </div>

  <div #scrollAnchor class="scroll-anchor">
    
    @if (isLoading) {
      <p>Loading offers...</p> } 
    
    @if (!hasMoreOffers && publicOffers.length > 0) {
      <p class="end-message">You viewed all available offers at the moment.</p>
    }
    
    @if (!hasMoreOffers && publicOffers.length === 0) {
      <p class="end-message">No published offers right now.</p>
    }
  </div>
</div>